body {
        background-color: darkgrey;
    font-size: 16px;
    font-style: oblique;
    text-align: justify;
  }
  
  h1 {
  font-size: 65px;
  font-family: sans-serif;
  color: orange;
  }
  
  p {
   font-size: 3em;
   font-weight: 600;
   
   }

   #lineOne{
    background-color: yellow;
    color: yellowgreen;
    }
   
   #lineTwo{
    background-color: red;
    color: rosybrown
   }
   
   #lineThree{
    background-color: brown;
    color: black;
   }
  
  .changeSameTime{
        background-color: green;
        text-decoration: underline;
        text-align: center;
        
  }
  
  #un-list{
        background-color: white;
       
  } 
  
  